#item-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    border-style: solid;
    border-color: #141;
    border-width: 10px;
    border-radius: 6px;
    background: linear-gradient(to bottom right, #020, #141, darkolivegreen, olive, darkolivegreen, #141, #020);
    margin-bottom: 50px;
  }
  
  div.item-card {
    width: 300px;
    height: 275px;
    border-top: 2px solid darkslategray;
    border-right: 5px solid black;
    border-bottom: 2px solid darkslategray;
    border-left: 1px solid black;
    margin: 5px 10px;
    padding: 5px 10px;
    overflow-y: auto;
    overflow-x: auto;
  }
  
  div.item-card img.item-image, .modal-image {
    width: var(--item-card-image-width);
    height: var(--item-card-image-height);
    border-style: solid;
    border-width: 2px;
    border-color: darkblue;
    padding: 3px;
  }
  
  h4#item-list-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    margin: 4px;
    padding: 0 10px;
    background-color: skyblue;
    color: #004;
    width: fit-content;
    border-radius: 8px;
    border-top: 3px solid darkslategray;
    border-right: 6px solid black;
    border-bottom: 2px solid darkslategray;
  }
  
  #item-list {
    list-style: none;
    width: var(--item-list-width);
    height: var(--item-list-height);
    overflow-y: scroll;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-count: 4;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    border-top: 3px solid black;
    border-right: 6px solid darkslategray;
    border-bottom: 2px solid black;
    border-left: 1px solid darkslategray;
  }
  
  #home-page > div{
    display: inline-flex;
    margin-right: 50px;
  }
  
  #report-form {
    background-color: orchid;
    border-radius: 8px;
    border-top: 4px solid darkslategray;
    border-right: 8px solid black;
    border-bottom: 2px solid darkslategray;
    border-left: 1px solid black;
    color: indigo;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px 0 10px 10px;
    width: fit-content;
  }
  
  #report-form * {
    display: block;
    padding: 5px 0 5px 5px;
  }
  
  #report-form textarea {
    width: 80%;
    height: 50%;
    margin-bottom: 10px;
    border-style: groove;
    border-color: #004;
    border-width: 2px;
    border-radius: 8px;
  }